.sectionScenario {
  max-width: 80%;
  padding-top: 4rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.scenarioItem {
  display: flex;
  align-items: center;
  margin-bottom: 2.4rem;

  @media (max-width: 480px) {
    flex-direction: column;
  }

  &:nth-child(even) {
    flex-direction: row-reverse;
    text-align: end;

    @media (max-width: 480px) {
      flex-direction: column;
      text-align: start;
    }
  }

  & > img {
    width: 24rem;
    margin-bottom: 2rem;
  }

  & > div {
    flex: 0.5;
    padding: 2.4rem;
    font-size: 2rem;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    display: inline;

    @media (max-width: 768px) {
      flex: 0.8;
    }

    u {
      text-decoration: none;
      background-color: var(--purple-light);
    }

    & > span {
      font-size: 1.6rem;
      text-transform: uppercase;
    }
  }
}
